.contact {
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.827);
  }

  .heading{
    font-size: 3.5rem;
  }

  label{
    font-weight: bold;
    color: white;
  }
  
  .contact form {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact input, .contact textarea {
    width: 30%;
    padding: 10px;
    border:none;
    background-color: #f3ddd4;
    resize: none;
    border-radius: 20px;
  }

  .contact textarea{
    height: 100px;
    border: none;
  }
  
 
  
.contact button {
    display: block;
    width: 100px;
    margin: 20px auto 0; 
    padding: 12px 0; 
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px; 
    font-size: 1rem; 
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out; 
    cursor: pointer;
}

.contact button:hover {
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);    font-weight: bold;
    transform: translateY(-2px); 
    color: #333;
    box-shadow: 0 4px 8px rgba(230, 196, 126, 0.7);
}
