* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  

  
  .app {
    min-height: 100vh;
    color: black; 
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .app::-webkit-scrollbar{
    display: none;
  }
  
  section {
    padding: 60px 20px;
  }
  
  h2 {
    color: #ff9800; 
  }

  /* App.css */

.separator {
  border: none;             
  height: 1px;             
  background: linear-gradient(to right,red,orange); 
  margin: 0;          
}


  
  