@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  overflow: hidden; /* Prevents scrollbars from appearing on the viewport */
}

body {
  overflow-y: scroll; /* Enables scrolling without showing the scrollbar */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

h2 {
  margin: 0;
  color: white;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-size: 3.5rem;
  text-align: center;
}

.animate-project {
  font-size: 3rem;
  color: white;
  background-color: transparent;
  display: inline-block;
  transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.animate-project:hover {
  color: rgb(117, 82, 207);
  transform: translateY(-10px);
  text-shadow: 0 40px 35px rgb(124, 82, 228);
}


.tilt{
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.tilt:hover{
  transform: scale(1.05);
}

.projectCard{
  transition: transform 0.3s ease-in-out;
}
.projectCard:hover{
  transform: scale(1.1);
}

.build {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid gray;
  animation: typing 3.5s steps(35) infinite, blink-caret 0.95s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}